[Unit]
Description=PSQMTT Monitoring Probe
After=network-online.target

[Service]
User=barbu
Group=barbu
Type=simple
WorkingDirectory=/home/barbu/psmqtt
ExecStart=/usr/bin/python3 /home/barbu/psmqtt/psmqtt.py
Restart=always
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=60
RestartSec=10

[Install]
WantedBy=multi-user.target

