[Unit]
Description=PSQMTT Monitoring Probe
After=network-online.target

[Service]
User=barbu
Group=barbu
Type=idle
WorkingDirectory=/home/barbu/psmqtt
ExecStart=/home/barbu/psmqtt/.venv/bin/python3 psmqtt.py
Restart=always
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=60
RestartSec=10

[Install]
WantedBy=multi-user.target

